@page
@model Project.Pages.Product.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="margin-bottom: "50px;">Our Products</h1>


<div id="tableBody" class="row">

</div>